* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
}

ul {
  display: list-item;
}

a {
  color: black;
  display: list-item;
}

#cabecalho {
  position: fixed;
  left: 0;
  right: 0;
  border-style: none;
  color: white;
  background-color: green;
  top: 0;
  height: 100px;
}

#titulo h1 {
  color: white;
}

#minha_foto {
  width: 250px;
  position: static;
}

#licoes_aprendidas {
  
}

#licoes_a_aprender {
  
}

#navigation li a {
  color: white;
}

#rodape {
  background-color: aquamarine;
}
