* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: rgb(253, 251, 251);
}

ul {
  display: list-item;
}

a {
  color: #15120b;
  text-decoration: none;
}

#cabecalho {
  position: fixed;
  left: 0;
  right: 0;
  border-style: none;
  color: #eee1cf;
  background-color: #15120b;
  top: 0;
  height: 100px;
}

#titulo h1 {
  color: #eee1cf;
}

.nome_perfil a {
  padding: 20px;
  width: 200px;
}

#minha_foto {
  width: 300px;
  position: static;
  padding: 20px;
  padding-top: 120px;
}

.navigation a {
  color: #eee1cf;
  font-size: medium;
  display: list-item;
  margin: 10px;
}

#licoes_aprendidas {
  color: #15120b;
  padding: 20px 20px 20px 40px;
}

#licoes_a_aprender {
  color: #15120b;
  padding: 20px 20px 20px 40px;
}

#navigation li a {
  color: #eee1cf;
}

#lado-esquerdo {
  width: 250px;
  color: rebeccapurple;
  display: flex;
  padding: 20px 20px 20px 40px;
}

#lado-direito {
  width: 200px;
  color: red;
  display: flex;
  padding: 20px 20px 20px 40px;
}

#rodape {
  background-color: #ebbd73;
  height: 50px;
}
