* {
  margin: 0;
  box-sizing: border-box;
  font-size: 110%;
  font-family: monospace;
  color: brown;
  line-height: 20px;
}

body {
  background-color: rgb(253, 251, 251);
}

ul {
  display: list-item;
}

a {
  color: rgb(21, 18, 11);
  text-decoration: none;
}

#cabecalho {
  position: fixed;
  left: 0;
  right: 0;
  border-style: none;
  color: rgb(238, 225, 207);
  background-color: rgb(21, 18, 11);
  top: 0;
  height: 100px;
}

#titulo h1 {
  color: rgb(238, 225, 207);
}

.nome_perfil a {
  padding: 20px;
  width: 200px;
}

#minha_foto {
  width: 300px;
  position: static;
  padding: 20px;
  padding-top: 120px;
}

.navigation a {
  color: rgb(238, 225, 207);
  font-size: medium;
  display: list-item;
  margin: 10px;
}

#licoes_aprendidas {
  color: rgb(21, 18, 11);
  padding: 5%;
  display: inline-block;
}

#licoes_a_aprender {
  color: rgb(21, 18, 11);
  padding: 5%;
  display: inline-block;
}

#navigation li a {
  color: rgb(238, 225, 207);
}

.lado-esquerdo {
  width: 20%;
  color: rebeccapurple;
  margin: 60px;
  padding: 20px;
  display: inline-block;
}

.lado-direito {
  width: 20%;
  color: red;
  margin: 0 60px;
  padding: 20px;
  display: inline-block;
}

#table, th, td {
  border:1px solid black;
  width: 100px;
}

#rodape {
  background-color: rgb(235, 189, 115);
  height: 50px;
}
